RewriteEngine On
RewriteCond %{HTTP_HOST} ^(www\.)?cad.emsoft.net.pl\.pl [NC]
RewriteRule (.*) http://www.cad.emsoft.net.pl/$1 [R=301,L]
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1/$1 [R=301,L]